section.details-section
  .wrapper
    .details-section__container
      .details-section__box
        .details-section__block
          h2.details-section__title.font-w-a-bold.font-s-40.text-up
            span.color-blue-32 Узнайте больше 
            | о специфике ведения 
            br.no-br
            | гостиничного бизнеса
          .swiper-bullet
            .details-section__cards.swiper-wrapper
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  span.font-w-semi-bold Из чего состоит 
                  | ежедневная работы владельца/владелицы сервиса
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  span.font-w-semi-bold Какой формат 
                  | работы подойдет именно в вашем случае
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  span.font-w-semi-bold В каких регионах 
                  | выгоднее всего запускать гостиничный бизнес
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  | Какие 
                  span.font-w-semi-bold маркетинговые инструменты 
                  | по-настоящему привлекают клиентов
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  span.font-w-semi-bold На что обращать внимание 
                  | при ценообразовании и работе с клиентами
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  span.font-w-semi-bold Как не ошибиться при выборе 
                  | помещения и правильно его оборудовать
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  span.font-w-semi-bold Как правильно позиционировать 
                  | себя на рынке и кто ваша ЦА
              .details-section__card.swiper-slide
                img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="22" height="22" alt="icon")
                .font-s-18-a
                  span.font-w-semi-bold Как быстро окупить 
                  | вложения и выйти на стабильную прибыль
            .bullet-pagination.bullet-pagination--left
        form.details-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Оставить заявку
        img.details-section__img(src="images/details-section-img.png" loading="lazy" width="441" height="566" alt="image")
