section.finances-section
  .wrapper
    .finances-section__container
      .finances-section__box
        h2.finances-section__title.font-w-a-bold.font-s-42.text-up.text-center Ключевые показатели франшизы*
        .finances-section__sub-title
          .font-w-semi-bold.font-s-24 На которые вы можете рассчитывать на старте бизнеса
        .swiper-bullet
          .finances-section__cards.swiper-wrapper
            .finances-section__card.swiper-slide
              .finances-section__icon-wrapper
                img.finances-section__icon(src="images/finances-section-icon.svg" loading="lazy" width="14" height="11" alt="icon")
              .font-w-a-bold.font-s-26.text-up.color-black с 1-го месяца
              .font-s-18-a вы начнете <br> зарабатывать
            .finances-section__card.swiper-slide
              .finances-section__icon-wrapper
                img.finances-section__icon(src="images/finances-section-icon.svg" loading="lazy" width="14" height="11" alt="icon")
              .font-w-a-bold.font-s-26.text-up.color-black от 450 продаж
              .font-s-18-a будет совершаться <br> ежемесячно
            .finances-section__card.swiper-slide
              .finances-section__icon-wrapper
                img.finances-section__icon(src="images/finances-section-icon.svg" loading="lazy" width="14" height="11" alt="icon")
              .font-w-a-bold.font-s-26.text-up.color-black 29 дней
              .font-s-18-a для запуска <br> всех процессов
            .finances-section__card.swiper-slide
              .finances-section__icon-wrapper
                img.finances-section__icon(src="images/finances-section-icon.svg" loading="lazy" width="14" height="11" alt="icon")
              .font-w-a-bold.font-s-26.text-up.color-black 422 000 рублей
              .font-s-18-a ежемесячная <br> выручка
            .finances-section__card.swiper-slide
              .finances-section__icon-wrapper
                img.finances-section__icon(src="images/finances-section-icon.svg" loading="lazy" width="14" height="11" alt="icon")
              .font-w-a-bold.font-s-26.text-up.color-black 54%
              .font-s-18-a рентабельность <br> по чистой прибыли
            .finances-section__card.swiper-slide
              .finances-section__icon-wrapper
                img.finances-section__icon(src="images/finances-section-icon.svg" loading="lazy" width="14" height="11" alt="icon")
              .font-w-a-bold.font-s-26.text-up.color-black 227 000 рублей
              .font-s-18-a ежемесячная чистая <br> прибыль
          .bullet-pagination
        .finances-section__bottom
          .finances-section__bottom-block
            img.finances-section__bottom-img(src="images/finances-section-bottom-img.png" loading="lazy" width="337" height="269" alt="image")
            .font-s-20-b
              | Узнайте, какие инвестиции 
              br
              | потребуются для старта бизнеса
            .font-w-a-bold.font-s-32.color-blue-cd.text-up
              | ПОЛУЧИТЕ финансовую 
              br
              | модель франшизы
          form.finances-section__form(data-feedback-form)
            input(type="text" name="honeyfield" class="honeypot" style="display:none")
            input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") ПОЛУЧИТЬ
