footer.footer
  .wrapper
    .footer__container
      .footer__brand-box
        img.footer__logo(src="images/logo.svg" loading="lazy" width="94" height="54" alt="logo")
        .footer__brand.font-s-14
          .font-w-semi-bold SUPER BRIDGE
          a.footer__privacy(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      a.footer__privacy-mobile.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") ОБРАТНАЯ СВЯЗЬ
