footer.footer
  .wrapper
    .footer__container
      a.footer__privacy.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") ОБРАТНАЯ СВЯЗЬ
