header.header
  .wrapper
    .header__container
      .header__brand-box
        img.header__logo(src="images/logo.svg" loading="lazy" width="94" height="54" alt="logo")
        .header__brand.font-s-14
          .font-w-semi-bold SUPER BRIDGE
          .font-w-regular Франшиза гостиничного сервиса
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") ОБРАТНАЯ СВЯЗЬ
  .header__brand-mobile.font-s-14 Франшиза гостиничного сервиса
