section.reasons-section
  .wrapper
    .reasons-section__container
      .reasons-section__box
        h2.reasons-section__title.font-w-a-bold.font-s-42.text-up
          span.reasons-section__title-mark 5 причин 
          | стать партнером 
          br
          | франшизы «SUPER BRIDGE»
        .swiper-bullet
          .reasons-section__cards.swiper-wrapper
            .reasons-section__card.swiper-slide
              .reasons-section__card-num.font-w-a-bold.font-s-18-b 01
              .reasons-section__card-title.font-w-a-bold.font-s-26 Высокая актуальность
              .font-s-18-a
                | Сегодня активно развивается внутренний 
                br.no-br
                | туризм в стране, что дарит большие 
                br.no-br
                | возможности для запуска прибыльного 
                br.no-br
                | гостиничного бизнеса
            .reasons-section__card.swiper-slide
              .reasons-section__card-num.font-w-a-bold.font-s-18-b 02
              .reasons-section__card-title.font-w-a-bold.font-s-26 Свободный формат
              .font-s-18-a
                | Вы сможете самостоятельно выбрать 
                br.no-br
                | удобный для вас формат работы и 
                br.no-br
                | правильно использовать свои стартовые 
                br.no-br
                | вложения
            .reasons-section__card.swiper-slide
              .reasons-section__card-num.font-w-a-bold.font-s-18-b 03
              .reasons-section__card-title.font-w-a-bold.font-s-26 Сильный маркетинг
              .font-s-18-a
                | Мы передадим вам по-настоящему 
                br.no-br
                | рабочие маркетинговые инструменты и 
                br.no-br
                | поможем привлечь ваших первых 
                br.no-br
                | клиентов
            .reasons-section__card.swiper-slide
              .reasons-section__card-num.font-w-a-bold.font-s-18-b 04
              .reasons-section__card-title.font-w-a-bold.font-s-26
                | Поддержка 
                br.no-br
                | на каждом этапе
              .font-s-18-a
                | Будем сопровождать вас во время и 
                br.no-br
                | после запуска сервиса и поможем 
                br.no-br
                | правильно организовать все процессы
            .reasons-section__card.swiper-slide.reasons-section__card--5
              .reasons-section__card-num.font-w-a-bold.font-s-18-b 05
              .reasons-section__card-title.font-w-a-bold.font-s-26 Быстрый старт
              .font-s-18-a
                span.font-w-semi-bold.color-blue-55 Всего за 1 месяц 
                | вы станете 
                br.no-br
                | владельцем собственного 
                br.no-br
                | бизнеса и начнете зарабатывать 
                br.no-br
                | сразу после открытия
          .bullet-pagination
        img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="270" height="292" alt="image")
        form.reasons-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") ПОЛУЧИТЬ
